.trx-list__empty {
  text-align: center;
  padding: 20px;
  color: #8c8c8c;
}

.trx-list {
  background: #fff;
  border: 1px solid #e8e8e8;
}

.trx-list-separator {
  padding: 6px 20px;
  border-bottom: 1px solid #e8e8e8;
  background: #f9f9f9;
}
