.main-layout__content {
  max-width: 1100px;
  align-self: center;
  width: 100%;
  padding: 30px;
  position: relative;
}

.main-sidebar {
  background: #fff;
  position: fixed;
  top: 64px;
  bottom: 0;
}

.main-sidebar__menu {
  border-right: 0;
}

.main-footer {
  text-align: center;
}

.main-layout__inner {
  margin-left: 200px;
  padding-top: 64px;
  height: 100vh;
}
