body {
  background: #f0f2f5 url('https://monei.net/images/token/bg.svg') no-repeat !important;
  background-size: cover;
  background-attachment: fixed !important;
}

#root > div {
  height: 100%;
}

.ant-layout {
  background: none !important;
}

.spacer {
  flex: 1;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.amplify-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.awsappsync {
  height: 100%;
}

.ant-menu-item > a.nav-text {
  display: inline-block;
}
